@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  ---webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  padding: 1px 20px;
  max-width: 1200px;
  box-sizing: border-box;
}

.header {
  background: #000;
}
.header header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 0rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

.links a {
  text-decoration: none;
  color: #ffff00;
  font-size: 1rem;

}

.links a:hover {
  color: #fafafa;
}

.header header img {
  display: flex;
  justify-content: center;
  width: 150px;
}

.background_pag {
  background: #000;
  min-height: 90vh;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.text .p_central {
  text-align: center;
  color: #ffff00;
}

.text h1 {
  color: #ffff00;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  margin-bottom: 4rem;
}

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-manual {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn {
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
  background: #000;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
  background: #000;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
  background: #000;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
  background: #000;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

#radio4:checked ~ .primeiro {
  margin-left: -75%;
}

.card {
  border: 1px solid #ffff00;
  padding: 30px;
  margin: 10px;
  width: 300px;
  display: inline-block;
}

html {
    scroll-behavior: smooth;
}
